<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hz="http://www.hazelcast.com/schema/spring"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.hazelcast.com/schema/spring https://www.hazelcast.com/schema/spring/hazelcast-spring-3.6.xsd">


	<cache:annotation-driven />
	<bean id="cacheManager" class="com.hazelcast.spring.cache.HazelcastCacheManager">
		<constructor-arg ref="hazelcast" />
	</bean>


	<hz:hazelcast id="hazelcast">
		<hz:config>
			<hz:group password="" name="email-validator" />
			<hz:properties>
				<hz:property name="hazelcast.jmx">true</hz:property>
				<hz:property name="hazelcast.jmx.detailed">true</hz:property>
				<hz:property name="hazelcast.logging.type">slf4j</hz:property>
			</hz:properties>
			<hz:network port="${hazelcast.port}" port-auto-increment="false">
				<hz:join>
					<hz:multicast enabled="true" />
				</hz:join>
			</hz:network>

			<hz:map name="emailCache" async-backup-count="1" max-size="10000000"
				eviction-percentage="20" read-backup-data="true" eviction-policy="LRU"
				statistics-enabled="true" time-to-live-seconds="604800" max-idle-seconds="604800"
 				merge-policy="com.hazelcast.map.merge.PassThroughMergePolicy" />

			<hz:map name="disposableEmailDomainCache" async-backup-count="1" max-size="10000000"
				eviction-percentage="20" read-backup-data="true" eviction-policy="LRU"
				statistics-enabled="true" time-to-live-seconds="604800" max-idle-seconds="604800"
 				merge-policy="com.hazelcast.map.merge.PassThroughMergePolicy" />

			<hz:map name="freeEmailDomainCache" async-backup-count="1" max-size="10000000"
				eviction-percentage="20" read-backup-data="true" eviction-policy="LRU"
				statistics-enabled="true" time-to-live-seconds="604800" max-idle-seconds="604800"
 				merge-policy="com.hazelcast.map.merge.PassThroughMergePolicy" />

			<hz:map name="syntaxValidatorCache" async-backup-count="1" max-size="10000000"
				eviction-percentage="20" read-backup-data="true" eviction-policy="LRU"
				statistics-enabled="true" time-to-live-seconds="604800" max-idle-seconds="604800"
 				merge-policy="com.hazelcast.map.merge.PassThroughMergePolicy" />

		</hz:config>
	</hz:hazelcast>
</beans>